<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zc.mydemoin58">

    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 悬浮窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- activity队列获取的 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zc.synch.SynchActivity" />
        <activity
            android:name="com.zc.statusbar.StatusBarActivity"
            android:theme="@style/StatusBarTheme" />
        <activity
            android:name="com.zc.setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.zc.design.DesignActivity" />
        <activity android:name="com.zc.floating.FloatingActivity" />

        <service
            android:name="com.zc.floating.FloatingService"
            android:enabled="true" />
        <service
            android:name="com.zc.floating.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <activity
            android:name="com.zc.nest.NestActivity"
            android:label="@string/title_activity_nest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.zc.viewpager.MyViewPagerActivity" />
        <activity
            android:name="com.zc.recylerview.FansActivity"
            android:label="@string/title_activity_fans"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.zc.mbitmap.BitmapActivity" />
        <activity android:name="com.zc.flow.FlowActivity" />
        <activity android:name="com.zc.shake.ShakeActivity" />
        <activity android:name="com.zc.toptab.TabTopActivity" />
        <activity android:name="com.zc.constrainlay.ConstraintLayoutActivity" />
        <activity android:name="com.zc.tabtop2.TabTop2Activity" />
        <activity android:name="com.zc.tabtop3.TabTop3Activity" />
        <activity android:name="com.zc.moveview.MoveViewByCoorLayActivity" />
        <activity android:name="com.zc.cache.CacheActivity" />
        <activity android:name="com.zc.anima.AnimaActivity" />
        <activity android:name="com.zc.expandlv.ExpandLVActivity" />
        <activity android:name="com.zc.viewconstructor.ViewConstructorActivity" />
        <activity android:name="com.zc.looper.LooperActivity" />
        <activity android:name="com.zc.xrecycler.XReclcyerActivity" />
        <activity android:name="com.zc.constraintdemo.ConstraintLayActivity" />
        <activity
            android:name="com.zc.testdb.TestDBActivity"
            android:label="@string/title_activity_test_db"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.zc.RXJava.RXJavaActivity" />
        <activity
            android:name="com.zc.ivReclcy.TestIvReclcyActivity"
            android:label="@string/title_activity_test_iv_reclcy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.zc.recylerview.HorReclyerActivity"
            android:label="@string/title_activity_hor_reclyer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.zc.demoImage.DemoImageLeakActivity"
            android:label="@string/title_activity_demo_image_leak"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.zc.glide.GlideMainActivity" />
        <activity android:name="com.zc.classloader.ClassLoaderTestActivity" />
        <activity android:name="com.zc.testactivity.TestActivity" />
        <activity android:name="com.zc.testactivity.Test2Activity" />
        <activity android:name="com.zc.multi.MultiViewFirstActivity" />
        <activity android:name="com.zc.multi.MultiViewSecendActivity" />
        <activity
            android:name="com.zc.slidingmenu.SlidingMenuActivity"
            android:label="@string/title_activity_sliding_menu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.zc.sql.SqlTestActivity"
            android:label="@string/title_activity_sql_test"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>